* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 15px;
  padding: 5px;
}
#test {
  color: red;
}
#header {
  display: flex;
  justify-content: space-between;
}
#main-welcome {
  display: grid;
  grid-template: 2fr 1fr / 2fr 1fr 1fr 1fr;
}
#logo {
  grid-area: 1 / 1 / 3 / 2;
}
#welcome {
  grid-area: 1 / 2 / 2 / 5;
}
/* .choices {
  grid-area: 2 / 2 / 3 / 5;

} */
#number {
  grid-area: 2 / 2 / 3 / 3;

}
#difficulty {
  grid-area: 2 / 3 / 3 / 4;
}
#time {
  grid-area: 2 / 4 / 3 / 5;
}
#main-index {
  display: grid;
  grid-template: 1fr 1fr / 1fr 3fr 1fr;
}
#timer {
  grid-area: 1 / 1 / 2 / 2;
}
#motivation {
  grid-area: 2 / 1 / 3 / 2;
}
#game {
  grid-area: 1 / 2 / 3 / 3;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
#hint {
  grid-area: 1 / 3 / 2 / 4;
}
#start {
  grid-area: 2 / 3 / 3 / 4;
}
#footer {
  display: flex;
  justify-content: space-between;
}
