* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 15px;
  padding: 5px;
}
#test {
  color: red;
}
#header {
  display: flex;
  justify-content: space-between;
}
#main {
  display: grid;
  grid-template: 2fr 1fr / 2fr 1fr 1fr 1fr;
}
#logo {
  grid-area: 1 / 1 / 3 / 2;
}
#welcome {
  grid-area: 1 / 2 / 2 / 5;
}
/* #choices {
  grid-area: 2 / 2 / 3 / 5;
} */
#size {
  grid-area: 2 / 2 / 3 / 3;
}
#difficulty {
  grid-area: 2 / 3 / 3 / 4;
}
#time {
  grid-area: 2 / 4 / 3 / 5;
}

#footer {
  display: flex;
  justify-content: space-between;
}
