* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#test {
  color: red;
}
#header {
  display: flex;
}
#main {
  display: grid;
  grid-template: repeat(4, 1fr) / 3fr 1fr 1fr;
}
#logo {
  grid-area: 1 / 1 / 4 / 2;
}
#welcome {
  grid-area: 1 / 2 / 2 / 5;
}

#choose {
  grid-area: 2 / 2 / 3 / 5;
  display: flex;
}
#choices {
  grid-area: 3 / 2 / 4 / 5;
}
